@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p,a{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

a.btn-primary{
    color: #fff;
    text-decoration: none;
    background-color: #58a6ff;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    transition-duration: .3s;
}

a.btn-primary:hover{
    transform: scale(1.1);
    transition-duration: .3s;
}

main.narrow{
    width: 100%;
    max-width: 1120px;
}

section.row{
    width: inherit;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

article.card{
    flex: 1;
    width: 100%;
    border-radius: 7px;
    margin: 10px;
    border-style: solid;
    border-color: #242424;
    border-width: 2px;
    padding-bottom: 10px;
}

article.card-blind{
    flex: 1;
    width: 100%;
    margin: 10px;
    padding-bottom: 10px;
}

article.card > img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
}

article.card > div.text{
    margin: 10px;
}

div.btn-container{
    margin-top: 40px;
}

div.column{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

img.profile{
    width: 75%;
    box-shadow: #8A2BE2 70px 70px;
}

@media only screen and (max-width: 1000px) {
    section.row{
        flex-wrap: wrap;
    }

    article.card{
        flex: unset;
        width: 1120px;
    }

    article.card-blind{
        display: none;
    }
}